@import '../../common/scss/colors';

.historical{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
    background: $background;
    width: 100%; 

    .dataView {
        width: 100%;
        padding: 0 3%;
    }


    &__noDataTitle {
        font-size: 45px;
        font-family: londrinaSolidBlack;   
        letter-spacing: 2px;     
        color: $golden-poppy;
        text-align: center;
        margin: 5px;
        margin-top: 10%;
        width: 50%;
    }
}

