@import '../../common/scss/colors';

.management{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;    
    background: black;

    .headerCont {
        display: flex;
        align-items: center;
    }    

    &__mainContainer {
        flex: 1 1 auto;
        width: 100%;
    }
}
